In [53]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
import pandas as pd

myUrl='http://volcano.oregonstate.edu/volcano_table'
pageObj=urlopen(myUrl)
pageRawHtml=pageObj.read()
pageObj.close()

pageData=soup(pageRawHtml,'html.parser')

In [54]:
container1=pageData.find("div",{"class":"view-display-id-page_4"})
containerO=container1.find_all("tr",{"class":"odd"})
containerE=container1.find_all("tr",{"class":"even"})

In [55]:
volcanoList=[]
def addEvens():
    items={}
    for container in containerE:
        items["Name"]=container.find("td",{"class":"views-field-title"}).text.strip()
        items["Country"]=container.find("td",{"class":"views-field-field-location-value"}).text.strip()
        items["Type"]=container.find("td",{"class":"views-field-field-vtype-value"}).text.strip()
        items["Lat"]=container.find("td",{"class":"views-field-field-latitude-value"}).text.strip()
        items["Lon"]=container.find("td",{"class":"views-field-field-longitude-value"}).text.strip()
        items["Elv"]=container.find("td",{"class":"views-field-field-elevation-value"}).text.strip()
        volcanoList.append(dict(items))
    for v in volcanoList:
        if v["Lat"]=='' or v['Lon']=='' or v["Elv"]=='':
            volcanoList.remove(v)
        else:
            v["Lat"]=float(v["Lat"])
            v["Lon"]=float(v["Lon"])
            v["Elv"]=float(v["Elv"])

def addOdds():
    items={}
    for container in containerO:
        items["Name"]=container.find("td",{"class":"views-field-title"}).text.strip()
        items["Country"]=container.find("td",{"class":"views-field-field-location-value"}).text.strip()
        items["Type"]=container.find("td",{"class":"views-field-field-vtype-value"}).text.strip()
        items["Lat"]=container.find("td",{"class":"views-field-field-latitude-value"}).text.strip()
        items["Lon"]=container.find("td",{"class":"views-field-field-longitude-value"}).text.strip()
        items["Elv"]=container.find("td",{"class":"views-field-field-elevation-value"}).text.strip()
        volcanoList.append(dict(items))
    for v in volcanoList:
        if v["Lat"]=='' or v['Lon']=='' or v["Elv"]=='':
            volcanoList.remove(v)
        else:
            v["Lat"]=float(v["Lat"])
            v["Lon"]=float(v["Lon"])
            v["Elv"]=float(v["Elv"])
addEvens()
addOdds()

In [75]:
volcanos=pd.DataFrame(volcanoList)

In [77]:
volcanos.head(20)

,Name,Country,Type,Lat,Lon,Elv
0,Acamarachi,Chile,Stratovolcano,-23.3,-67.62,6046
1,Acigöl-Nevsehir,Turkey,Caldera,38.57,34.52,1689
2,Adams Seamount,Pacific Ocean,Submarine,-25.37,-129.27,-39
3,Adwa,Ethiopia,Stratovolcano,10.07,40.84,1733
4,Agrigan,Mariana Islands,Stratovolcano,18.77,145.67,965
5,Agua de Pau,Azores,Stratovolcano,37.77,-25.47,947
6,Agung,Lesser Sunda Islands,Stratovolcano,-8.34,115.51,3142
7,Akademia Nauk,Russia,Caldera,53.98,159.45,1180
8,Akan,Japan,Caldera,43.38,144.01,1499
9,Akita Komagatake,Japan,Stratovolcano,39.76,140.8,1637
10,Akuseki-jima,Japan,Stratovolcano,29.46,129.6,584
11,Alaid,Russia,Stratovolcano,50.86,155.55,2339
12,Alayta,Ethiopia,Shield,12.88,40.57,1501
13,Alcedo,Galápagos Islands,Shield,-0.43,-91.12,1130
14,Alid,Eritrea,Stratovolcano,14.88,39.92,904
15,Ambrym,Vanuatu,Shield,-16.25,168.12,1334
16,Aneityum,Vanuatu,Stratovolcano,-20.2,169.78,852
17,Antisana,Ecuador,Stratovolcano,-0.48,-78.14,5753
18,Ararat,Turkey,Stratovolcano,39.7,44.3,5165
19,Arintica,Chile,Complex Volcano,-18.73,-69.05,5597

In [80]:
volcanos.to_csv('volcanos.csv',index=0)

In [81]:
df=pd.read_csv('volcanos.csv')
df.head()

              Name          Country           Type    Lat     Lon     Elv
0       Acamarachi            Chile  Stratovolcano -23.30  -67.62  6046.0
1  Acigöl-Nevsehir           Turkey        Caldera  38.57   34.52  1689.0
2   Adams Seamount    Pacific Ocean      Submarine -25.37 -129.27   -39.0
3             Adwa         Ethiopia  Stratovolcano  10.07   40.84  1733.0
4          Agrigan  Mariana Islands  Stratovolcano  18.77  145.67   965.0